
/*========================================== userCommon ===================================================*/
body{
    background-color: #f3f3f3;
}
.aboutUs-main{
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #f3f3f3;
}

.aboutUs-main-left{
    float: left;
    width: 200px;
    margin-right: 20px;
    background-color: #fff;
    min-height: 700px;
}
.aboutUs-main-left.leftFixed{
	position: fixed;
    top: 75px;
    min-height: 480px;
}
.aboutUs-main-left h2{
    font-size: 18px;
    height: 55px;
    line-height: 55px;
    color: #333;
    font-weight: bold;
    text-align: center;

}
.aboutUs-main-left .aboutUs-nav a{
    display: block;
    font-size: 14px;
    line-height: 50px;
    color: #000;
    position: relative;
    z-index: 2;
    text-align:center;
}
.aboutUs-main-left .aboutUs-nav .user_phone strong a{
	color: #FF5256;
    line-height: 25px;
    text-indent: 0;
}
.aboutUs-main-left .aboutUs-nav a:hover{
	text-decoration:none;
}
.aboutUs-main-left .aboutUs-nav a.active{
    color: #f26359;
    text-decoration: none;
}

.aboutUs-main-right{
    width: 960px;
	min-height: 700px; 
    float: right;
    background-color: #fff;
}
.aboutUs-main-right .aboutUs-main-title{
    line-height: 55px;
    font-size: 18px;
    font-weight: bold;
    color: #f03d2d;
    padding-left: 30px;
    position:relative;
    margin-top:25px;
}
.aboutUs-main-right .aboutUs-main-title i{
	position: absolute;
    display: block;
    width: 820px;
    height: 1px;
    background: #E5E5E5;
    top: 27px;
    left: 115px;
}
.aboutUs-main-right .aboutUs-main-title label{
	display: block;
	width: 150px;
	height: 54px;
	text-align: left;
	line-height: 55px;
}

.aboutUs-main-right .aboutUs-main-content{
    padding:20px 30px;
	min-height: 540px;
}

.aboutUs-main-right .aboutUs-main-content img{
    margin: 0px auto;
	display: block;
    margin-right: 6px;

}
.aboutUs-main-right .aboutUs-main-content .us_expert img{
	    border-radius: 50%;
}
.training_record{
	margin: 34px 20px 10px 30px;
	height: 85px;
	background: #f26a6a;
	line-height: 85px;
	font-size: 25px;
	color: #FCFCFC;
	letter-spacing: 2px;
}

.training_record label{
	float: left;
	margin: 25px 30px 25px 0px;
	padding: 0px 35px;
	border-right: 1px #f8b7b5 solid;
	height: 35px;
	line-height: 35px;
	font-weight: bolder;
	color: #FCFCFC;
	letter-spacing: 2px;
	font-size: 24px;
}

.fgspx_text0{
	margin: 20px 30px 0px 30px;
	font-size: 45px;
	color: #f26a6a;
	font-weight: bold;
}

.fgspx_text1{
	margin: 0px 30px 10px 30px;
	font-size: 26px;
	color: #999999;
}

.fgspx_text2 p{
	margin: 25px 30px 0px;
	font-size: 13px;
	line-height: 25px;
}

.fgspx_menu{
	margin: 30px 30px 15px 30px;
	border-bottom: 1px #fbd1d2 solid;
	height: 40px;
	font-size: 14px;
}

.fgspx_menu li{
	float: left;
	width: 175px;
	font-size: 16px;
	
	text-align: center;
	line-height: 40px;
}

.fgspx_menu li.selected{
	color: #ffffff;
	background: #f26a6a;
}

.fgspx_info .photo{
	float: right;
	margin-top: 10px;
	margin-right: 20px;
}

.fgspx_info .photo img{
	margin: 0px;
	width: 200px;
	height: 139px;
}

.fgspx_info_main{
	margin-right: 350px;
}

.fgspx_info{
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 30px;
	border-bottom: 1px #fbd1d2 solid;
}

.fgspx_info h3{
	margin-left: 0px;
	margin-right: 200px;
	padding-top: 40px;
	padding-bottom: 12px;
	font-size: 18px;
	font-weight: bolder;
}

.fgspx_info h4{
	margin-bottom: 10px;
	padding-top: 10px;
	color: #F26A6A;
	font-size: 16px;
	font-weight: bold;
}

.fgspx_info p{
	font-size: 12px;
	line-height: 24px;
	color: #8a8a8a;
}

.fgspx_info .left_ul{
	margin: 0px;
}

.fgspx_info .left_ul li{
	line-height: 30px;
}

.fgspx_info_left .photo{
	float: left;
}

.fgspx_info_left .fgspx_info_main{
	margin-left: 220px;
	margin-right: 0px;
}

.us_detail{font-size:14px;line-height:25px;color:#666;}
.us_title{color:#333;line-height:30px;margin-top:25px;font-weight:bold;}
.us_con{margin-top:25px;font-size:14px;} 
.us_list{height:185px;}
.aboutUs-main-right .aboutUs-main-content .us_list img{float:left;margin-top:64px;}
.us_right{float:right;width:680px;} 
.us_right .us_con{margin-top:5px;}
.clearfix:after{visibility: hidden;display:block;font-size: 0;content:"";clear:both;height:0;}
.clearfix{zoom:1;}

.us_join .us_title{font-size:16px;}
.us_join  ul{list-style-type:circle;line-height:30px;margin:10px 0 15px;}
.us_join  ul i{ background:#666;border-radius: 50%; display: block;float: left;height: 5px; margin-right:6px; margin-top:13px;width: 5px;}
.us_word{color:#323232;}
.us_word span{color:#F38989;}
.us_icon{color:#333;background:#EAEAEA;border-radius:3px;margin:15px 0;display:block;text-align:center;width:90px;line-height:30px;}
.us_join{line-height:30px;}
.us_join .mt15{margin-top:35px;}

.us_contact ul{margin:50px 0 40px;overflow:hidden;}
.us_contact li{margin-right:30px;width:220px;float:left;border-right:1px solid #D9D9D9;}
.us_contact li:last-child{border-right:none;margin-right:0;}
.us_contact li img{float:left;}
.us_phone{float:left;margin-left:12px;}
.us_phone p{font-size:12px;}
.us_phone div{font-size:16px;color:#333333;font-weight:bold;}

.us_expert{overflow:hidden;margin-bottom:50px;    border-bottom: 1px solid #E5E5E5;    padding-bottom: 50px;}
.us_expert img{float:left;}
.expert_con {float:left;margin-left:30px;width:700px;}
.expert_con p{color:#080808;font-size:24px;line-height:32px;margin:10px 0}
.expert_con p span{font-size:14px;color:#333;margin-left: 20px;}
.expert_con div{margin-top:10px;font-size: 14px; color: #333;line-height: 28px;}

.us_branchW{margin-top:30px;text-indent:20px;}
.us_entry{text-align:center;padding:30px 0 20px;}
.us_entry a{padding:10px 20px;background:#F26359;color:#fff;border-radius:5px;}
.us_entry a:hover{text-decoration:none;}

.us_idea{margin-bottom:35px;font-size:14px;line-height:30px;color:#666;}
.us_ideaT{height:90px;padding-left:30px;margin-bottom:30px;}
.aboutUs-main-right .aboutUs-main-content .us_ideaT img{padding-top:25px;margin:0;}
.us_t1{background:#4D8FD9;}
.us_t2{background:#55C19D;}
.us_t3{background:#44ABD6;}
.us_t4{background:#8184E3;}
.us_list_w span{display:block;float:left;width:85px;font-weight:bold;color:#333;}
.us_list_w div{float:left;width:760px;}

.speech{font-size:16px;color:#666;font-weight:bold;margin-top:20px;}
.us_sign{margin:30px 0;overflow:hidden;}
.us_sign img{float:right;}





/*notice_list*/
.notice_list{
	padding-left: 30px; 
	padding-right: 30px;
	line-height: 24px;
	overflow: hidden;
	padding-bottom: 30px;
}
.notice_list li{
	min-height: 140px;
	height: auto;
	border-bottom: 1px dashed #EBEBEB; 
	padding: 20px 0 30px;
}
.notice_list li .notice_time{width: 90px; text-align: right; padding-right: 10px; font-family: Arial, Helvetica, sans-serif;}
.notice_list li .notice_txt{width:670px;}
.notice_list li .notice_time p{ color: #cfcfcf;}
.notice_list li .notice_time .years{font-size: 12px; }
.notice_list li .notice_time .month_day{font-size: 12px;}
.notice_list li .notice_txt h6{font-size: 18px; font-family:\5FAE\8F6F\96C5\9ED1;}
.notice_list li .notice_txt h6 a{ color: #666; font-weight: normal;}
.notice_list li .notice_txt h6 a:hover{color: #be0000;}
.notice_list li p{line-height: 26px; color: #999;}

.notice_list li h4{
	font-size: 16px;
	font-weight: bold;
}

.notice_list li .years{
	margin: 5px 0px;
}

.notice_list li  img{
	float: left;
	margin-right: 20px;
	width: 200px;
	height: 140px;
}

/*nontice_show*/
.nontice_main{width: 998px; padding: 20px; padding-bottom: 50px; border: 1px solid #e5e5e5; background: #fff; margin:0px auto 50px;}
.nontice_show_list{height:30px; line-height: 30px;}
.nontice_show_list .fl{width: 800px;}
.nontice_show_list .fr{width: 198px;}
.nontice_show_list .fr .f66{margin: 0 8px;}
.nontice_show_main h1{height: 40px; line-height: 40px; font-size:24px; font-family:\5FAE\8F6F\96C5\9ED1; text-align: center; color: #333; margin-top: 20px; margin-bottom: 20px;}

/*��ҵ����   */
.honour{
	position:relative;
}
.honour1{
	height:396px;
}
.honour_year{
    font-size: 48px;
    color: #F26A6A;
}
.honour_time{
	font-size: 26px;
    color: #F26A6A;
    letter-spacing: 5px;
}
.honour1 .honour_mes{
    border-top: 2px solid #EE6666;
    width: 425px;
    border-right: 2px solid #ee6666;
	color:#343434;
}
.honour_mes h3{
	font-size:18px;
	font-weight:bold;
	margin:20px 0;
}
.honour_mes p{
	margin:0;
	font-size:16px;
	line-height:25px;	
}
.aboutUs-main-right .aboutUs-main-content .honour_mes img{
	display:inline;
	margin-right:8px;
	margin-top:15px
}
.honour_icon{
	position: absolute;
    width: 41px;
    height: 42px;
    display: block;
}
.honour_red{
	background: url(/portal/images/4now/honour_red.jpg);
	left: 404px;
    top: 78px;
}
.honour_blue{
	background: url(/portal/images/4now/honour_blue.jpg);
	left: 406px;
    top: -21px;
}
.honour2 {
	width: 485px;
    margin-top: -99px;
}
.honour2 .honour_mes{
	border-top:2px solid #3DB5E7;
	border-left:2px solid #3DB5E7;
	text-align:right;
}
.honour2 .honour_year{
	text-align:right;
	color:#3DB5E7;
}
.honour2 .honour_time{
	text-align:right;
	color:#3DB5E7;
}

/*  ��������  */

.red_title{
	font-weight:bold;
	font-size:16px;
	color:#F44C4C;
	margin-top:25px;
}
.new_partenter{
	margin-top:30px;
	overflow:hidden;
}
.new_partenter li{
	border: 1px solid #E4E4E4;
    width: 254px;
    padding: 20px 15px;
    background: #F5F5F5;
    text-align: center;
    height: 348px;
    float: left;
    margin-right: 10px;
}
.new_partenter li p{
	margin-bottom:25px;
}
.new_intro{
	border-top: 1px solid #D7D7D7;
    padding-top: 20px;
    text-align:left;
}

/* �������*/
.filiale_dialog{
	position: absolute;
    width: 560px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 30px 20px 20px;
    dispaly:none;
    z-index:2001;
    border-radius:5px;
}
.filiale_dialog .del {
    width: 13px;
    height: 13px;
    background: url(/portal/images/big_close.png);
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
}
.filiale_dialog > ul{
	width:100px;
	float:left;
	background:#EDEDED;
	height:300px;
}
.filiale_dialog > ul li{
	color:#666;
	line-height:35px;
	text-align:center;
	cursor:pointer;
}
.filiale_dialog > ul li.cur{
	background: url(/portal/images/aboutUsIcon.png) no-repeat right center #fff;
    color: #000;
}
.filiale_dialog .filiale_right{
	float:left;
	margin-left:10px;
	width:450px;
}
.filiale_dialog .filiale_right img{
	width:450px;
	height:300px;
}
.filiale_dialog .filiale_con{
	height:300px;
	overflow:hidden;
}

.filiale_dialog .filiale_right li{
	position:relative;
}
.filiale_dialog .filiale_right li .filiale_mes{
	position: absolute;
    bottom: 0;
    background:rgba(0, 0, 0, 0.4);
    width: 450px;
    height: 70px;
}
.filiale_mes strong{
	display: block;
    float: left;
    width: 95px;
    text-align: center;
    height: 70px;
    line-height: 70px;
    color: #fff;
    font-size: 22px;
    font-weight: normal;
}
.filiale_detail{
	text-align: left;
    line-height: 10px;
    border-left: 1px solid #fff;
    float: left;
    padding-left: 20px;
    color: #fff;
    height: 55px;
    padding-top: 10px;
    width:325px;
}
.filiale_detail p{
	margin:0;
	line-height: 20px;
    font-size: 14px;
}
.aboutUs-nav{
	position:relative;
	margin-bottom: 20px;
}
.aboutUs-nav .ico{
	width: 200px;
    height: 50px;
    display: block;
    background: url(/portal/images/index/ico.png) no-repeat;
    background-position: 0 -405px;
    position: absolute;
    top: 0;
    left: 0px;
    transition: top .3s ease-out;
    -webkit-transition: top .3s ease-out;
}
.aboutUs-main-content .list_q{
	color:#333;
	font-size: 14px;
	margin:0 0 15px 0;
	line-height: 35px;
	cursor:pointer;
}
.aboutUs-main-content .list_q.active{
	color:#FF5357;
}
.aboutUs-main-content .list_a{
    border: 1px solid #E6E6E6;
    box-shadow: 0 0 5px 3px #f1f1f1;
    padding: 25px;
    font-size: 14px;
    color: #666;
    line-height: 30px;
    border-radius: 3px;
    position:relative;
    margin-bottom:15px;
    display:none;
}
.aboutUs-main-content .list_a table{ width:100%; border:1px solid #ccc;}
.aboutUs-main-content .list_a table thead tr th{ width:10%; height:30px; text-align:center; border:1px solid #ccc; font-weight:bold; color:#000;}
.aboutUs-main-content .list_a table tbody tr td{ height:30px; text-align:center; border:1px solid #ccc;}
.aboutUs-main-content .list_a i{
	position: absolute;
    width: 18px;
    height: 10px;
    display: block;
    background: url(/portal/images/index/ico.png) no-repeat;
    background-position: -168px -25px;
    left: 30px;
    top: -10px;
}

/*ר���б�ҳ��*/
.topic_head{
	background:url(/portal/images/index/topic_head.jpg) no-repeat top center;
	height:200px;
}
.topic_head1{
	background:url(/portal/images/index/topic_head1.jpg) no-repeat top center;
	height:200px;
}
.topic_main{
	width:1200px;
	margin:20px auto;
}
.topic_choose{
	text-align: center;
    font-size: 20px;
    color: #333;
    margin-bottom: 25px;
    margin-top: 25px;
}
.topic_choose span{
	font-size: 18px;
	width: 70px;
    margin: 0 110px;
    box-sizing: border-box;
    padding-bottom:10px;
    cursor: pointer;
}
.topic_choose span.cur{
	width: 300px;
	color:#FF5256;
	border-bottom:2px solid #ff5256;
}
.topic_list_item{
	height: 370px;
	width: 285px;
    margin-right: 20px;
    float: left;
    margin-bottom:30px;
    background: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.topic_list_item:hover{
	-webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate3d(0, -2px, 0);
    -moz-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
.topic_list_item a{
	text-decoration:none;
	display:blcok;
}
.topic_list_item:nth-child(4n+4){
	margin-right:0;
}
.topic_list_item img{
	
}
.topic_list_item .topic_title{
	font-size: 16px;
    color: #333;
    margin: 15px 20px;
}
.topic_list_item_product .topic_title_product{
	height: 35px;
	text-align: center;
	font-size: 15px;
    color: #333;
    margin: 15px 20px;
}
.product_below{
	text-align: center;
}
.topic_value{
	display: inline;
	text-align: center;
	font-size: 16px;
    color: red;
    margin-right: 8px;
}
.topic_rest{
	display: inline;
	text-align: center;
	font-size: 15px;
    color: #333;
    margin-left: 8px;
}
.topic_list_item_product .item_down{
	margin-top: 10px;
	height: 45px;
	text-align: center;
}
.exchange_btn{
	outline: none;
	color: red;
	font-size: 14px;
	background-color: white;
	border: 1px solid red;
	width: 80px;
	height: 30px;
	border-radius: 3px;
	cursor: pointer;
}
.exchange_btn:hover{
	color: white;
	background-color: red;	
}
.topic_list_item .topic_title span{
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    max-width: 174px;
    display: inline-block;
    position: relative;
    top: 4px;
}
.topic_list_item .topic_title i{
	color: #fff;
    border-radius: 3px;
    padding: 4px 10px;
    font-size: 14px;
    margin-left:8px;
}
.topic_list_item .topic_title i.moving{
	background: #FF5357;
}
.topic_list_item .topic_title i.over{
	background: #cecece;
}
.topic_list_item .topic_info{
	font-size: 14px;
    color: #999;
    height:50px;
    line-height: 25px;
    margin-bottom: 15px;
    margin:0 20px 15px 20px;
}
.topic_list_item .topic_time{
	 margin:0 20px 30px 20px;
	 font-size:14px;
	 color:#666;
	 overflow:hidden;
	 white-space:nowrap;
	 height:20px;
	 text-overflow:ellipsis;
}
.topic_list_item .topic_time i{
	
}
.pageway{
	text-align:center;
}
.pageway span{
	padding:2px 15px;
	border:1px solid #8F8F8F;
	background:#fff;
	margin:0 10px;
	color:#8F8F8F;
	cursor:popinter;
}
.topic_head_pointMall{
	background:url(/portal/images/banner_pointMall.jpg) no-repeat top center;
	height:398px;
}
.topic_below{
	width: 1200px;
	height: 300px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #f3f3f3;
    margin-bottom: 30px;
}
.PM_signed{
	float: left;
	display: inline-block;
	font-size: 18px;
	margin-right: 28px;
	width: 270px;
	height: 300px;
    background: #fff;
    border-radius: 8px;
}
.PM_signed h4{
	text-align: center;
}
.PM_signed .login{
	text-align : center;
	color: red;
	margin-left: 110px;
}
.PM_signed_top{
	height: 80px;
}
.PM_signed_top span{
	color: red;
}
.PM_signed_top img{
	margin-right: 20px;
}
.PM_signed_middle{
	height: 158px;
	text-align: center;
	font-size: 16px;
}
.PM_signed_middle span{
	color: red;
	font-size: 42px;
}
.qiandao_btn{
	margin-top : 20px;
	outline: none;
	color: red;
	font-size: 16px;
	background-color: white;
	border: 1px solid red;
	width: 121px;
	height: 35px;
	border-radius: 6px;
	cursor: pointer;
}
.qiandao_btn:hover{
	color: white;
	background-color: red;
}
.PM_signed_bottom{
	height: 37px;
	text-align: center;
	font-size: 15px;
}
.PM_signed_bottom img{
	margin-right: 7px;
	margin-top: 7px;
}
.PM_signed_bottom a:hover{
	color: red;
	cursor: pointer;
}
.PM_signed_bottom span{
	color: #f3f3f3;
	margin-left: 15px;
	margin-right: 15px;
}
.PM_fengYunBang{
	float: left;
	display: inline-block;
	margin-right: 28px;
	width: 430px;
	height: 300px;
    background: #fff;
    border-radius: 8px;
}
.PM_fengYunBang .t1{
	display: inline-block;
	float: left;
}
.PM_fengYunBang .t2{
	display: inline-block;
	float: left;
	font-size: 15px;
}
.PM_fengYunBang .t3{
	display: none;
	float: left;
}
.PM_fengYunBang .t4{
	display: none;
	float: left;
	font-size: 15px;
}
.rankNo{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #78bce9;
    color: #fff;
    text-align: center;
    float: left;
    margin-left: 56px;
    font-size: 12px;
    line-height: 20px;	
}
.PM_fengYunBang_topic{
	margin-top: 15px;
	height: 40px;
}
.PM_fengYunBang_topic span{
	margin-left: 170px;
	font-weight: bold;
	font-size: 18px;
}
.PM_fengYunBang_topic .to_right{
	float: right;
	margin-right: 55px;
	margin-top: 6px; cursor:pointer;
}
.PM_fengYunBang_topic .to_left{
	float: right;
	margin-right: 10px;
	margin-top: 6px; cursor:pointer;
}
.PM_fengYunBang_table{
	height: 240px;
	margin-left: 20px;
	width: 400px;
	text-align: center;
}
.PM_fengYunBang_table tr{
	height: 38px;
}
.PM_fengYunBang_table th{
	font-size: 16px;
	width: 130px;
}
.PM_duiHuanBang{
	float: left;
	display: inline-block;
	width: 430px;
	height: 300px;
    background: #fff;
    border-radius: 8px;
}
.PM_duiHuanBang_topic{
	margin-top: 15px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	height: 30px;
}
.PM_duiHuanBang_table{
	width: 350px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	height: 228px;
	background-color: #fff;
    border-radius: 5px;
}
.PM_duiHuanBang_table ul{
	top: -15px;
	padding: 0;
	color: #666;
	position: relative;
}
.PM_duiHuanBang_table li{
	height: 35px;
    padding:0;
	font-size: 14px;
	line-height: 35px;
    list-style: none;
	border-bottom: 1px dotted #d2d2d2;
}
.PM_duiHuanBang_table .s1{
	height: 32px;
	overflow: hidden;
	display: inline-block;
	float: left;
	width: 90px;
	margin-right: 10px;
}
.PM_duiHuanBang_table .s2{
	margin-right: 10px;
	overflow: hidden;
	height: 32px;
	display: inline-block;
	float: left;
	width: 140px;
}
.PM_duiHuanBang_table .s3{
	overflow: hidden;
	height: 32px;
	display: inline-block;
	float: left;
	width: 90px;
}
.background{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	display: none;
}
.pointDetails{
	display: none;
	background: #fff;
	position: fixed;
	width: 1030px;
	height: 784px;	
	left: 50%;
	top: 50%;
	margin-left: -515px;
	margin-top: -392px;
	z-index: 999;
	border-radius: 5px;
}
.pointDetails #close1{
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	cursor: pointer;
}
.exchangeRecord{
	display: none;
	background: #fff;
	position: fixed;
	width: 1030px;
	height: 701px;	
	left: 50%;
	top: 50%;
	margin-left: -515px;
	margin-top: -350px;
	z-index: 999;
	border-radius: 5px;
}
.exchangeRecord #close2{
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	cursor: pointer;
}
.topic_list_item_product{
	height: 370px;
	width: 285px;
	margin-right: 20px;
    float: left;
    margin-bottom:30px;
    background: #fff;
    border-radius: 8px;
}
.topic_list_item_product img{
	margin-top:10px;
	width: 285px;
	height: 220px;
}
.topic_list_item_product:hover{
	text-decoration: none;
}
.topic_list_item_product a{
	text-decoration:none;
	display:blcok;
}
.topic_list_item_product:nth-child(4n+4){
	margin-right:0;
}
.product_show{
	width: 1200px;
	height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    background: #fff;
    border-radius: 7px;
}
.product_img{
	display: inline-block;
	float: left;
	height: 225px;
	width: 285px;
	margin-top: 50px;
	margin-left: 40px;
	margin-right: 50px;
}
.product_img img{
	width: 285px;
	height: 220;
}
.product_info{
	display: inline-block;
	float: left;
	border-left: 1px solid #f3f3f3;
	width: 800px;
	margin-top: 20px;
	font-size: 16px;
}
.product_info h1{
	font-weight: bold;
	font-size: 22px;
}
.product_info h2{
	font-size: 18px;
}
.product_info h3{
	font-size: 16px;
}
.product_info h1,h2,h3{
	margin-top: 10px;
}
.product_info span{
	color: red;
	margin-right: 15px;
	font-weight: bolder;
}
.reduce_btn{
	float: left;
	outline: none;
	margin-left: 40px;
	font-size: 22px;
	border: 1px solid #c0c0c0;
	width: 27px;
	height: 27px;
}
.amount{
	border: 1px solid #c0c0c0;
	font-size: 20px;
	text-align: center;
	float: left;
	width: 60px;
}
.increase_btn{
	float: left;
	outline: none;
	font-size: 22px;
	border: 1px solid #c0c0c0;
	width: 27px;
	height: 27px;
	margin-right: 30px;
}
.exchange_now{
	margin-left: 40px;
	outline: none;
	color: white;
	font-size: 16px;
	background-color: red;
	border: 1px solid red;
	width: 100px;
	height: 40px;
	border-radius: 3px;
	cursor: pointer;
}
.product_detail{
	font-family: inherit;
	width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    background: #fff;
    border-radius: 7px;
    height: 450px;
}
.product_detail .topic{
	height: 34px;
	vertical-align: middle;
	display: table-cell;
}
.product_detail .topic span{
	font-size: 20px;
	margin-left:40px;
	color: red;
}
.product_detail .text h2{
	font-size: 18px;
	margin-left: 40px;
}
.product_detail .text h3{
	font-size: 18px;
	margin-left: 40px;
}
.product_detail .text h4{
	color: #321b24;
	font-size: 16px;
	margin-left: 40px;
}
.market_list{
	text-align: center;
}











/************************** 新增样式 ****************************/
		#record{
			margin:0px;
			padding:0px;
			margin-left:20px;
			margin-top:10px;
		}

		#record #now{
			width: 930px;
			height: 100px;
			background-color:#F7F8F8 ;
			position: relative;
		}

		#record #now img{
			float: left;
			margin-left:20px;
			margin-top:8px;
		}

		#record #now p{
			width: 300px;
			height: 82px;
			line-height: 82px;
			background-color: #FC655A;
			font-size: 30px;
			float: left;
			margin-top: 10px;
			margin-left: 30px;
			padding-left: 25px;
			padding-right: 25px;
			color: white;
		}

		#record #now p span{
			font-size: 25px;
		}

		#record ul{
			list-style: none;
			position: relative;
		}
		#record ul li{
			height: 100px;
			width: 1000px;
		}
		#record .year{
			clear: both;
			background-color: #1983CD;
			font-size: 20px;
			height: 30px;
			line-height: 30px;
			padding: 5px 10px;
			color: white;
			float: left;
		}
		#record .month{
			width: 30px;
			border-radius:15px;
			font-size: 20px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			color: white;
			background-color:#1983CD;
			float: left;
			margin-left: 50px;
			margin-top: 25px;
		}
		#record .day{
			clear: both;
			font-size: 17px;
			width: 60px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			float: left;
			margin-left: 70px;
			margin-top: -20px;
			color:#1983CD;
		}
		#record .content{
			font-size: 20px;
			width:700px;
			height: 40px;
			line-height: 40px;
			float: left;
			margin-left: 50px;
			margin-top: -60px;
			padding-left: 10px;
			background-color: #F7F8F8;
			border: 1px solid #E3DFE0;
		}

		#record #axle{
			width: 4px;
			height: 2330px;
			background-color: #1983CD;
			float: left;
			margin-left: -762px;
			margin-top: -2301px;
			z-index: 1;
		}
	

/* 资费详情 */
.postage{ width:100%;}
.postage_main{width:1130px; margin:35px auto; border:1px solid #eee; background:#fff; padding:35px;}
.postage_title{ text-align:center; font-size:30px;}
.postage_text{ margin-top:30px;}
.postage_text p{ font-size:14px; color:#343434; margin:10px 0; line-height:22px;}
.postage_text p b{ font-weight:bold; color:#000;}
.postage_font{ font-weight:normal!important; color:#343434!important;}
.postage_font1{ font-weight:normal!important; margin-left:80px!important; margin-top:-8px!important;}
.postage_about{ overflow:hidden;}

.a12_1{ color:#666;}

/*
商品兑换详情
*/
.productCenter {
	width: 600px;
	/*display: none;*/
	padding: 20px 0;
	/*text-align: center;*/
	margin-top: 30px;
	margin-right: -100px;
	position: relative;
}
.productCenter p {
	padding: 10px 0;
	width: 400px;
	margin: 0 auto; display:table; text-align:center;
	font-size:15px;
}
.productCenter p label {
	color: #666;
	width: 90px;
	text-align: right;
	display: inline-block;
}
.productCenter p input{width:200px;height:30px;}
.productCenter .opBtns {
	text-align: center;
}
.productCenter .safeSubBtn {
	cursor: pointer;
	display: inline-block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	background-color: #f03d2d;
	color: #fff;
	border-radius: 3px;
	font-size: 14px;
	margin-top: 20px;
	text-align: center;
}

.productCenter .safeCanBtn {
	cursor: pointer;
	display: inline-block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	background-color: #d1d1d1;
	color: #fff;
	border-radius: 3px;
	font-size: 14px;
	margin-left: 20px;
	text-align: center;
}
.productYinying {
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #000000;
	z-index: 1112;
	opacity: 0.7;
	-ms-opacity: 0.7;
	-o-opacity: 0.7;
	-webkit-opacity: 0.7;
	-moz-opacity: 0.7;
}

.productModal {
	display: none;
	width: 600px;
	left: 25%;
	top: 32%;
	margin-left: 180px;
	position: fixed;
	background: #fff;
	z-index: 2001;
	overflow: hidden;
}
