@charset "utf-8";
/*重置（reset）和默认（base）（tags） 重设浏览器默认样式*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details,main{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:none}
i,cite,em,address,dfn,th{font-style:normal;font-weight:normal;}
li{list-style:none;}
select,input{vertical-align:middle;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
img{vertical-align:top;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
a,button,input[type="button"],input[type="submit"],input[type="reset"]{hide-focus:expression(this.hideFocus=true);outline:none;cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
a,a:hover{text-decoration:none;}
html{
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
body{background:#fff;}
a{color:#666;}
a:hover{color:#be0000;}
/**字体图标*/
@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#uxiconfont') format('svg');
}
.iconfont{
    font-family:"iconfont";
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/* function 常用功能 */
.f-cb:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:"";}
.f-cb{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn,.hide{display:none;}
.f-db,.show{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-oh{overflow:hidden;}
.f-ffst{font-family:\5b8b\4f53,SimSun, "宋体", sans-serif;}
.f-ffyh{font-family:"Hiragino Sans GB","Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;}
.f-fs12{font-size:12px;}
.f-fs14{font-size:14px;}
.f-fs16{font-size:16px;}
.f-fs18{font-size:18px;}
.f-fs20{font-size:20px;}
.f-fs24{font-size:24px;}
.f-fs30{font-size:30px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
/*布局（grid）（.g-）将页面分割为几个大块，通常有头部、主体、主栏、侧栏、尾部等！ col是电脑布局，cols是手机布局*/
.g-wp,.rows{width: 1180px; margin-left:auto;margin-right:auto;}
/*皮肤 */
.s-red,.s-red:hover{color:#d92222;}
.s-ext{color: #999;}
/*头部header*/
.m-topbar{
    height:46px;
    line-height: 46px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e3e3e3;
}
.m-topbar .tel{margin-right: 15px;}
.m-topbar .tel .iconfont{margin-right: 3px;}
.m-topbar .tel,.m-topbar .tel .iconfont{
    font-size:18px;
    color: #d92222;
}
.m-topbar .contact{
    width: 40%;
}
.m-topbar .contact a{
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right:10px;
    line-height: 28px;
    color: #838383;
    text-align: center;
    border: 1px solid #c6c6c6;
    border-radius: 28px;
    -webkit-transition: 1s;
    -moz-transition: 1s; 
    -o-transition: 1s; 
    transition: 1s;
}
.m-topbar .contact a:hover{
    color: #d92222;
    border-color: #d92222;
}
.m-topbar .nav{
    width: 60%;
}
.m-topbar .btn{
    padding:7px 15px;
    margin-left: 8px;
    color: #fff;
    border-radius: 2px;
}
.m-topbar .login{background-color: #d92222}
.m-topbar .login:hover{background-color: #b80000}
.m-topbar .reg{background-color: #ffb026}
.m-topbar .reg:hover{background-color: #ffa200}
.m-hd{
    height: 51px;
    padding: 26px 0 23px;
}
.m-logo{
    float:left;
    width: 30%;
}
.m-logo span{display: none;}
.m-nav{
    float: right;
    width: 70%;
}
.nav-btn,.nav-login{
    position: absolute;
    top:5px;
    display: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
}
.nav-btn .iconfont,.nav-login .iconfont{font-size:40px;}
.nav-btn{left:10px;}
.nav-login{right:10px;}
.nav-btn:hover,.nav-login:hover{color: #fff;}
.m-nav a{
    float:left;
    margin:0 30px;
    line-height:50px;
    font-size: 18px;
    color: #333;
}
.m-nav a:hover{color: #d92222;}
.m-nav .current{border-bottom: 2px solid #d92222;}
/*尾部footer*/
.g-ft{
    padding:25px 0 45px;
    background-color: #2e2e30;
    border-top:4px solid #db0015;
}
.g-ft .infor{width: 72%;}
.g-ft .concerns{width: 28%;}
.g-ft nav a{
    font-size: 14px;
    color: #999;
}
.g-ft nav i{
    padding: 0 16px;
    font-size: 12px;
    color: #999;
}
.g-ft h4{
    display: none;
    line-height: 40px;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    text-align: center;
}
.g-ft h4 i{font-size: 24px;margin-right: 3px;}
.g-ft p{line-height: 24px;}
.g-ft nav,.g-ft .contact p{line-height: 36px;}
.g-ft .name span{margin-right: 5px;}
.g-ft a:hover{color: #fff;}
.g-ft .m-auth{height: 33px;padding-top: 15px;}
.g-ft .m-auth a{
    display: inline-block;
    margin-right: 10px;
}
.g-ft .m-auth img{filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); -webkit-filter: grayscale(1);}
.g-ft .m-auth a:hover img{-webkit-filter: grayscale(0); -moz-filter: grayscale(0); -ms-filter: grayscale(0); -o-filter: grayscale(0);
filter:url("about:blank");filter: grayscale(0); filter: rgb; }
.g-ft .contact{
    padding:10px 0 12px 65px;
    border-left: 1px solid #434345;
}
.g-ft .contact dd{line-height: 30px;font-size: 28px;color: #fff;}
.g-ft .contact dt,.g-ft .contact p{line-height: 20px;}
.g-ft .contact ul{height: 32px;padding-top: 14px;}
.g-ft .contact li{position: relative;float: left;width: 42px;}
.g-ft .contact a{
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #585858;
    border-radius: 3px;
    -webkit-transition: 1s;
    -moz-transition: 1s; 
    -o-transition: 1s; 
    transition: 1s;
}
.g-ft .contact a:hover{background: #db0015;}
.g-ft .contact i{
    color: #ccc;
    -webkit-transition: 1s;
    -moz-transition: 1s; 
    -o-transition: 1s; 
    transition: 1s;
}
.g-ft .contact a:hover i{color: #fff;}
.g-ft .contact .hover{
    position: absolute;
    top:-140px;
    left:-52px;
    display: none;
}
/*悬浮侧栏*/
/*.m-sidebar{
    position: fixed;
    z-index: 99;
    top:0;
    right:0px;
    width:40px;
    height:100%;
    background: #fff;
}*/
.m-open{
    position: fixed;
    z-index: 99;
    display: none;
    top:50px;
    right:0;
    width:40px;
    height: 40px;
    opacity: 0;
    filter: alpha(opacity=0);
}
.m-sidebar .sd-item{
    position: absolute;
    left:0;
    width: 40px;
    height: 40px;
}
.m-sidebar .sd-tips,.m-open .sd-tips{
    position: absolute;
    left:-100px;
    top:0;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    background-color: #494949;
    left:-135px;
    display: none;
    opacity: 0;
    filter: alpha(opacity=0);
}
.m-sidebar .sd-tips span,.m-open .sd-tips span,.m-loginbox .dot{
    position: absolute;
    top:13px;
    left:100px;
    overflow: hidden;
    height:0;
    width:0;
    font-size: 0;
    line-height: 0;
    border-color:transparent transparent transparent #494949;
    border-style:dashed dashed dashed solid;
    border-width:7px;
}
.m-sidebar .sd-btn,.m-open .sd-btn{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #333;
    text-align: center;
}
.m-sidebar .sd-btn .iconfont,.m-open .sd-btn .iconfont{
    font-size: 24px;
}
.m-sidebar .active,.m-open .sd-btn,.m-sidebar .active1{
    color: #fff;
    background-color: #d92222;
}
#js-goto{
    bottom: 0;
    display: none;
}
#js-close{
    top:50px;
}
#js-user{
    top:160px;
}
#js-jsq{
    top:220px;
}
#js-ask{
    top:60%;
}
#js-bbs{
   top:70%;
}
#js-code{
    top:80%;
}
#js-code .sd-tips{
    top:-170px;
    left:-185px;
    width: 140px;
    height: 180px;
    padding: 15px;
    background-color: #fff;
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}
#js-code .sd-tips p{
    padding-top: 5px;
    line-height: 20px;
    color:  #d92222;
}
#js-code .sd-tips span{
    left:170px;
    top:183px;
}
#js-code .sd-tips span,.m-loginbox .dot{
    border-left-color: #fff;
}
.m-loginbox .dot{
    left:260px;
}
#js-code .sd-tips img{
    display: block;
    width: 140px;
    height: 140px;
    background: #000;
}
/*内页背景，面包屑网站索引*/
.g-bd{
    padding:30px 0 50px;
    background: #f4f4f4;
    border-top:3px solid #ededed;
}
.m-crumbs{
    height: 36px;
    padding-bottom: 20px;
    line-height: 36px;
    color: #999;
}
.m-crumbs a{color: #999;}
.m-crumbs a:hover{color: #d92222;}
.m-crumbs strong{
    font-weight: normal;
    color:#333;
}
.g-mn{
    width: 980px;
    min-height: 440px;
    _height: 440px;
    padding: 19px;
    background: #fff;
    border: 1px solid #e4e4e4;
}

/*排序,迷你分页*/
.m-sort{
    height: 26px;
    line-height: 26px;
    padding-bottom: 13px;
    border-bottom: 2px solid #e5e5e5;
}
.m-sort a,.m-sort span{
    display: inline-block;
    vertical-align: top;
}
.m-sort .btn-arr{
    height: 26px;
    padding: 0 10px;
    margin-left: 5px;
}
.m-sort .up,.m-sort .down,.m-sort .btn-arr:hover,.m-sort .btns a:hover{
    color: #fff;
    background: #ffb026;
    border-radius: 2px;
}
.m-sort .up span,.m-sort .down span{
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background: #fff;
}
.m-sort .btns span,.m-sort .btns a{
    width: 60px;
    height: 26px;
    margin-left: 6px;
    text-align: center;
    border-radius: 2px;
}
.m-sort .btns .f-dn{display: none;}
.m-sort .btns span{
    color: #333;
    background: #d9d9d9;
}
.m-sort .btns a{
    background: #b2b2b2;
    color: #fff;
}
.m-sort .pagesize{
    font-size: 14px;
    color: #d92222;
}
/*分页*/
.m-page{
	padding-bottom: 50px;
    color: #666;
    text-align: center;
}
.m-page a,.m-page span{
    display: inline-block;
    vertical-align: top;
}
.m-page .btn{
    padding: 4px 7px;
}
.m-page .btn:hover{
	color: #f03d2d;
}

.m-page .current{
	padding: 4px 7px;
	background-color: #f03d2d;
	color: #fff;
	text-decoration: none;
}
.m-page .disabled,.m-page  .disabled:hover{
    color: #666;
    background: #d9d9d9;
}
.m-page .text{
    padding: 4px 7px;
}
.m-page .text em{
    color: #da0000;
}
.page-btn{
    display: none;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    font:16px/40px "Hiragino Sans GB","Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
    color: #0C0099;
    text-align: center;
}
/*选项卡组件*/
.m-tab2 .u-nav{
    height: 38px;
    border-bottom: 2px #f03d2d solid;
}
.m-tab2 .u-nav li{
    float: left;
	padding: 0px 40px;
    height: 38px;
    color: #666666;
	line-height: 38px;
	font-size: 12px;
    cursor: pointer;
}

.m-tab2 .u-nav li a, .m-tab2 .u-nav li a:hover{
	text-decoration: none;
}

.m-tab2 .u-nav .current{
    position: relative;
    top: 1px;
    height: 39px;
    color: #ffffff;
    background: #f03d2d;
}

.m-tab2 .u-nav .current a, .m-tab2 .u-nav .current a:hover{
	display: block;
	color: #ffffff;
	text-decoration: none;
}

.m-tab2 .u-box{
	margin-top: 28px;
}
.m-tab2 .list{
    padding: 20px;
}
/*表单组件*/
.formw{
    width: 432px;
    padding-left:15px;
}
.m-form .u-tt{
	height: 48px;
}
.m-form .u-tt h2{
    height: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #333;
	font-size: 18px;
}
.m-form .u-tt span{
	margin-top: 6px;
	margin-right: 42px;
	font-size: 12px;
}
.m-form .item:after{
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
    overflow:hidden;
    content:"";
}
.m-form .item{
    position: relative;
    width: 100%;
    padding-bottom: 15px;
    zoom:1;
}
.m-form .other,.m-form .u-inp,.m-form .u-lab{
    height: 38px;
    line-height: 38px;
}
.m-form .u-lab{
	float: left;
	width: 70px;
	color: #333;
	text-align: left;
}
.m-form .u-inp{
    float: left;
    width: 300px;
    background-color: #fff;
    border: 1px solid #e4e6e6;
}
.m-form .u-inpw{width: 80%;}
.m-form .u-inp .iconfont{
    display: inline-block;
	width: 38px;
	font-size: 20px;
	color: #b7b7b7;
	text-align: center;
}
.m-form .u-inp .inp{
    display: inline-block;
    width: 240px;
    height: 24px;
    line-height: 24px;
    vertical-align: top;
    padding-top: 8px;
    border: none;
    background: #ffffff;
}
.m-form .type .u-inp{border: none;}
.m-form .vcode .u-inp{
    width: 130px;
}
.m-form .vcode .inp{width: 60%;}
.m-form .vcode .code{
    padding-left: 10px;
    color: #999;
}
.m-form .vcode .img-code{
    width: 100px;
    height: 38px;
    margin-right: 11px;
    border: 1px solid #e4e6e6;
}
.m-form .u-tips, .login_dialog .u-tips{
    position: absolute;
    top:5px;
    left:280px;
    z-index: 1;
    display: none;
    height: 30px;
    padding:0 10px;
    line-height: 30px;
    white-space:nowrap;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0,0,0,0.4)
}

.m-form .u-tips .iconfont, .login_dialog .u-tips .iconfont{
	margin-right: 4px;
}
.m-form .tips-right{border-color: #28b726;}
.m-form .tips-error{border-color: #d92222;}
.m-form .u-tips:before,.m-form .u-tips:after, .login_dialog .u-tips:before, .login_dialog .u-tips:after{           
    position: absolute;
    top:7px;
    left:-17px;
    overflow: hidden;
    height:0;
    width:0;
    font-size: 0;
    line-height: 0;
    border-color:transparent #ccc transparent transparent;
    border-style:dashed solid dashed dashed;
    border-width:8px;
    content: "";
}       
.m-form .u-tips:before, .login_dialog .u-tips:before{         
    top: 7px;          
    left:-16px;
    z-index: 1;       
    border-right-color: #fff;
}
.m-form .tips-right:after{border-right-color: #28b726;}
.m-form .tips-error:after{border-right-color: #d92222;}
.m-form .tips-right{color: #28b726;}
.m-form .tips-error{color: #d92222;} 
.m-form .btns .btn{
    display: block;
    width: 320px;
    height: 44px;
    color: #fff;
	font-size: 18px;
    border: none;
    border-radius: 5px;
}
.m-form .btns .btn:hover{color:#fff;}
.formw .u-tips{left:360px;}
.formw .u-inp,.formw .other,.formw .btns{width: 320px;}
.formw .other,.formw .btns{padding-left: 70px;}
.btn-orange{background-color: #d92222;}
.btn-orange:hover{background-color: #f44c4c;}
.btn-red,.m-reg .btn{background-color: #f44c4c;}
.btn-red:hover,.m-reg .btn:hover{background-color: #f44c4c;}
.m-form .btns .abtn{
    display: inline-block;
    height: 28px;
    padding:0 15px;
    margin-right: 10px;
    line-height: 28px;
    font-size: 14px;
    color: #666;
    background-color: #f2f2f2;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
}
.m-form .btns .abtn:hover{
    color: #fff;
    background-color: #ff9600;
    border-color: #e68700;
}
/*侧边栏登录框*/
.m-loginbox{
    position: fixed;
    z-index: 100;
    display: none;
    top:160px;
    right:75px;
    width: 260px;
    background-color: #fff;
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}
.m-loginbox .sd-close{
    position: absolute;
    top:5px;
    right:5px;
    z-index: 1;
    width: 40px;
    height: 40px;
    font:bold 20px/40px "Hiragino Sans GB","Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
    text-align: center;
    color: #be0000; 
    -webkit-transition: 1s;
    -moz-transition: 1s; 
    -o-transition: 1s; 
    transition: 1s;
}
.m-loginbox .sd-close:hover{
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
}
.m-loginbox .loginbox{
    padding:10px 15px;
}
.m-loginbox .m-form .u-inp .inp{width: 75%;}
.m-loginbox h2{
    font:18px/30px "Hiragino Sans GB","Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
    color: #333;
}
.m-loginbox .m-form .other{
    height: 24px;
    line-height: 24px;
}
.m-loginbox .m-form .other h4{color: #999;}

.m-loginbox .u-tips{
    top:-40px;
    left:70px;
}
.m-loginbox .m-form .vcode .u-inp{width: 120px;}
.m-loginbox .m-form .vcode .code{padding-left: 0;}
.m-loginbox .m-form .vcode .img-code{margin-right: 0;}
.m-loginbox .m-form .vcode .u-inp .inp{width: 60%;}
.m-loginbox .login-name{
    position: relative;
    height: 70px;
    padding: 15px 0 15px 80px;
}
.m-loginbox .login-name .head{
    position: absolute;
    top:15px;
    left:0;
    width: 64px;
    height: 64px;
    padding: 2px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
}
.m-loginbox .login-name .head:hover{border-color: #d92222;}
.m-loginbox .login-name p{line-height: 30px;}
.m-loginbox .login-name p a{margin-right: 5px;}
.m-loginbox .money p{line-height: 36px;}
.m-loginbox .money p a{
    color: #d92222;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.m-loginbox .money p a:hover{color: #d92222;}
.m-loginbox .link p{line-height: 24px;}
.m-loginbox .link p a{
    display: inline-block;
    width: 33.33%;
    text-align: center;
}

.csearch .text{
	margin-left: 30px;
	display: inline-block;
	height: 27px;
	line-height: 27px;
	vertical-align: top;
}

#caiwu-list{
	margin-top: 20px;
	width: 100%;
}

#caiwu-list tr{
	border-bottom: 1px solid #e0e0e0;
}

#caiwu-list th{
	padding: 13px 0px;
	background: #f0f0f0;
	border-bottom: 1px solid #e0e0e0;
	text-align: center;
}

#caiwu-list td{
	padding: 15px 0px;
	text-align: center;
}

#caiwu-list th.cols1{
	width: 126px;
}

#caiwu-list th.cols2{
	width: 142px;
}

#caiwu-list th.cols3{
	width: 163px;
}

#caiwu-list th.cols4{
	width: 168px;
}

#caiwu-list th.cols5{
	width: 163px;
}

.login_panel{
	height: 516px;
	background: url(/public/hao/themes/v2/images/xzx/loginBanner.jpg) center no-repeat;
}

.login_panel form{
	display: block;
	margin: 0px auto;
	width: 1000px;
	height: 365px;
}

.page-wrap, .m-page{
	display: block !important;
}

.page-wrap a, .m-page a, .page-wrap span, .m-page span{
	line-height: 12px;
}
.find_some{
	width:17px;
	height:19px;
	display:inline-block;
	margin:10px 5px 0 5px;
}
.find_tel{
	background:url(/portal/images/iconRegPhone.png);
}
.find_pwd{
	background:url(/portal/images/iconRegPwd.png);
}
.find_code{
	background:url(/portal/images/iconRegCheck.png);
}







