/IDCardAddressCode.properties
/SIMKAI.TTF
/com/
/db/
/db-config.txt
/fuiou.properties
/jx.properties
/jxAccountId.properties
/log4j.properties
/memcached-config.txt
/qcloud-img-config.txt
/shiro.ini
/simsun.ttf
/transaction-type.properties
